@using BaseballPredictionBlazor.Shared

<div class="card bg-c-@((Prediction is null) ? "blue" : getCardColor(this.UseMachineLearningModel, Prediction.Probability, (int) this.BaseBallBatter.HR))  order-card">
    <div class="card-block">
        <h5 class="text-right">Hall of Fame <b>@Shared.MLModelPredictionType.GetPredictionLabel(this.MLModelPredictionType, UseMachineLearningModel)</b> - <span class="span-probability"><b>@this.getPredictionValue(this.UseMachineLearningModel)</b></span></h5>
        <h5 class="text-right"><span><b>@BaseBallBatter.FullPlayerName</b></span></h5>
        <div class="m-b-0">Seasons Played<span class="f-right">@BaseBallBatter.YearsPlayed</span></div>
        <div class="m-b-0">Total Bases<span class="f-right">@BaseBallBatter.TB</span></div>
        <div class="m-b-0">HR<span class="f-right">@BaseBallBatter.HR</span></div>
        <div class="m-b-0">All-Star Appearances<span class="f-right">@BaseBallBatter.AllStarAppearances</span></div>
        <div class="m-b-0">...<span class="f-right"></span></div>
    </div>
</div>

@code {

    /* Parameters */

    [Parameter]
    public string MLModelPredictionType { get; set; } = Shared.MLModelPredictionType.InductedToHallOfFame;

    [Parameter]
    public bool UseMachineLearningModel { get; set; } = true;

    [Parameter]
    public MLBBaseballBatter BaseBallBatter { get; set; }

    [Parameter]
    public MLBHOFPrediction Prediction { get; set; }

    // Used for setting the background color of the baseball card
    string getCardColor(bool useMachineLearningModel, float probability, int homeRuns)
    {
        string cardColor = "red";

        if (useMachineLearningModel)
        {
            if (probability >= 0.75)
            {
                cardColor = "green";
            }
            else if (probability >= 0.50)
            {
                cardColor = "lightgreen";
            }
            else if (probability >= 0.25)
            {
                cardColor = "yellow";
            }
        }
        else
        {
            if (homeRuns >= 500)
            {
                cardColor = "green";
            }
        }

        return cardColor;
    }

    // Used for setting the prediction value
    private string getPredictionValue(bool useMachineLearningModel)
    {
        if (Prediction is null)
            return string.Empty;

        string predictionLabel = string.Empty;

        if (useMachineLearningModel)
        {
            predictionLabel = String.Format("{0:P2}", Prediction.Probability);
        }
        else
        {
            predictionLabel = Prediction.Prediction.ToString();
        }

        return predictionLabel;
    }
}