@using BaseballPredictionBlazor
@using BaseballPredictionBlazor.Shared
@using BaseballPredictionBlazor.Service
@using Microsoft.Extensions.ML;

@inject PredictionEnginePool<MLBBaseballBatter, MLBHOFPrediction> _predictionEnginePool;
@inject BaseballDataSampleService BaseballDataService

<div class="card">
    <h5 class="card-header"><b>@Title</b> - @SubTitle</h5>
    <div class="card-body">
        <form>
            <div class="form-group row" style="@(StaticPrediction ? "display: none;" : string.Empty)">
                <label for="seasonsInput" class="col-sm-3 col-form-label">Seasons Played:</label>
                <span class="sliderLabel">1 </span>
                <input type="range" class="form-control-range" style="width: 50%;" min="1" max="30" step="1" value="@numberOfSeasonsPlayed"
                       @oninput="@SliderMoved" />
                <span class="sliderLabel"> 30</span>
            </div>
            <div class="container">
                <div class="row">
                    @if (this.MultipleModels)
                    {
                        <div class="col-md-6 col-xl-6">
                            <BaseballPredictionBlazor.Components.BaseballCard MLModelPredictionType=@Shared.MLModelPredictionType.OnHallOfFameBallot UseMachineLearningModel=this.UseMachineLearningModel
                                                                              BaseBallBatter=BaseBallBatterParameter Prediction=PredictionParameterOnHallOfFameBallot />
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <BaseballPredictionBlazor.Components.BaseballCard MLModelPredictionType=@Shared.MLModelPredictionType.InductedToHallOfFame UseMachineLearningModel=this.UseMachineLearningModel
                                                                              BaseBallBatter=BaseBallBatterParameter Prediction=PredictionParameterHallOfFameInduction />
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 col-xl-12">
                            <BaseballPredictionBlazor.Components.BaseballCard MLModelPredictionType=this.MLModelPredictionType UseMachineLearningModel=this.UseMachineLearningModel
                                                                              BaseBallBatter=BaseBallBatterParameter Prediction=PredictionParameterHallOfFameInduction />
                        </div>
                    }
                </div>
            </div>
            <small class="form-text text-muted"><b>Notes:</b></small>
            <small class="form-text text-muted">@Notes</small>
        </form>
    </div>
</div>
<p />

@code {

    /* Parameters */

    [Parameter]
    public bool MultipleModels { get; set; } = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }

    [Parameter]
    public string Notes { get; set; } = string.Empty;

    [Parameter]
    public string MLModelPredictionType { get; set; } = Shared.MLModelPredictionType.InductedToHallOfFame;

    [Parameter]
    public bool UseMachineLearningModel { get; set; } = true;

    [Parameter]
    public bool StaticPrediction { get; set; } = true;

    [Parameter]
    public MLBBaseballBatter BaseBallBatter { get; set; }


    /* Variables */
    private int numberOfSeasonsPlayed = 1;
    MLBBaseballBatter baseBallBatterCalculated;
    MLBHOFPrediction predictionOnHallOfFameBallotAdjusted = null;
    // parameters to send in
    MLBBaseballBatter BaseBallBatterParameter = null;
    MLBHOFPrediction PredictionParameterHallOfFameInduction = null;
    MLBHOFPrediction PredictionParameterOnHallOfFameBallot = null;

    protected override void OnParametersSet()
    {
        if (!(BaseBallBatterParameter is null))
        {
            // Check if new parameter is newer than the current
            if (BaseBallBatter != BaseBallBatterParameter)
            {
                numberOfSeasonsPlayed = (int) BaseBallBatter.YearsPlayed;
                MakeBaseballPredictions();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        numberOfSeasonsPlayed = (int) BaseBallBatter.YearsPlayed;

        // Note: Only first page call is expensive
        await this.MakeBaseballPredictions();
    }

    Task MakeBaseballPredictions()
    {
        if (!StaticPrediction)
        {
            // Calculate the adjusted statistics for the player
            baseBallBatterCalculated = BaseBallBatter.CalculateStatisticsProratedBySeason(numberOfSeasonsPlayed);
            BaseBallBatterParameter = baseBallBatterCalculated;
        }
        else
        {
            BaseBallBatterParameter = this.BaseBallBatter;
        }

        if (UseMachineLearningModel)
        {
            // Make ML Model Prediction
            PredictionParameterHallOfFameInduction = _predictionEnginePool.Predict(Shared.MLModelPredictionType.InductedToHallOfFame,
                BaseBallBatterParameter);

            if (MultipleModels)
            {
                // Make ML Model Prediction
                PredictionParameterOnHallOfFameBallot = _predictionEnginePool.Predict(Shared.MLModelPredictionType.OnHallOfFameBallot,
                BaseBallBatterParameter);
            }
        }
        else
        {
            // Make Rules based Prediction
            PredictionParameterHallOfFameInduction = BaseBallBatterParameter.GetHallOfFameInductionPredictionBasedOn500HrRule();
        }

        return Task.CompletedTask;
    }

    void SliderMoved(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            numberOfSeasonsPlayed = index;

            MakeBaseballPredictions();
        }
    }
}