@using BaseballPredictionBlazor.Shared

<div class="card bg-c-@((Prediction is null) ? "blue" : getCardColor(true, Prediction.Probability, 0))  order-card">
    <div class="card-block">
        <h5 class="text-right">@Shared.MLModelPredictionType.GetPredictionLabel(this.MLModelPredictionType) Probability - <span class="span-probability"><b>@this.getPredictionValue(false)</b></span></h5>
        <h5 class="text-right"><span><b>@BaseBallBatter.FullPlayerName</b></span></h5>
        <div class="m-b-0">Seasons Played<span class="f-right">@BaseBallBatter.YearsPlayed</span></div>
        <div class="m-b-0">Total Bases<span class="f-right">@BaseBallBatter.TB</span></div>
        <div class="m-b-0">HR<span class="f-right">@BaseBallBatter.HR</span></div>
        <div class="m-b-0">All-Star Appearances<span class="f-right">@BaseBallBatter.AllStarAppearances</span></div>
        <div class="m-b-0">...<span class="f-right"></span></div>
    </div>
</div>

@code {

    /* Parameters */

    [Parameter]
    public string MLModelPredictionType { get; set; } = Shared.MLModelPredictionType.InductedToHallOfFame;

    [Parameter]
    public MLBBaseballBatter BaseBallBatter { get; set; }

    [Parameter]
    public MLBHOFPrediction Prediction { get; set; }

    // Used for setting the background color of the baseball card
    private string getCardColor(bool useProbability, float probability, int homeRuns)
    {
        string cardColor = "red";

        if (probability >= 0.75)
        {
            cardColor = "green";
        }
        else if (probability >= 0.50)
        {
            cardColor = "lightgreen";
        }
        else if (probability >= 0.25)
        {
            cardColor = "yellow";
        }

        return cardColor;
    }

    // Used for setting the prediction value
    private string getPredictionValue(bool useLabelInsteadofProbability)
    {
        if (Prediction is null)
            return string.Empty;

        string predictionLabel = string.Empty;

        if (useLabelInsteadofProbability)
        {
            predictionLabel = Prediction.Prediction.ToString();
        }
        else
        {
            predictionLabel = String.Format("{0:P2}.", Prediction.Probability);
        }

        return predictionLabel;
    }
}