@page "/WhatIfAnalysisRulesEngine"

@inject PredictionEnginePool<MLBBaseballBatter, MLBHOFPrediction> _predictionEnginePool;
@inject BaseballDataSampleService BaseballDataService

<h2>What-If Analysis (Rules Engine)</h2>

@if (isLoaded)
{
    <div>Select a fictitious or real MLB Batter to perform what-if analysis:</div>
    <BlazoredTypeahead SearchMethod="@SearchBaseballPlayers"
                       @bind-Value="@selectedBatter"
                       Debounce="200" MaximumSuggestions="15"
                       EnableDropDown="true" ShowDropDownOnFocus="true">
        <SelectedTemplate>
            <b>@context.FullPlayerName - &nbsp;</b> (Years Played: @context.YearsPlayed, Last Year Played: @context.LastYearPlayed)
        </SelectedTemplate>
        <ResultTemplate>
            <b>@context.FullPlayerName - &nbsp;</b> (Years Played: @context.YearsPlayed, Last Year Played: @context.LastYearPlayed)
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>

    <p />
    <BaseballCardParent Title="Static Prediction" SubTitle="Based on player's actual career statistics"
        Notes="Single rules-based prediction of the player being Inducted to Hall Of Fame based on the rule: HR >= 500."
        MultipleModels=false
        StaticPrediction=true MLModelPredictionType=@MLModelPredictionType.InductedToHallOfFameGeneralizedAdditiveModel
        UseMachineLearningModel=false
        BaseBallBatter=selectedBatter />
    <p />
    <BaseballCardParent Title="Dynamic Prediction" SubTitle="Based on player's yearly pro-rated career statistics"
        Notes="What-If prediction based on above selected player's single season averages multiplied the slider value of seasons played."
        MultipleModels=false
        StaticPrediction=false MLModelPredictionType=@MLModelPredictionType.InductedToHallOfFameGeneralizedAdditiveModel
        UseMachineLearningModel=false
        BaseBallBatter=selectedBatter />

}
else
{
    <p>Loading...</p>
}

@code {
    bool isLoaded = false;

    public List<MLBBaseballBatter> batters;
    MLBBaseballBatter selectedBatter;

    protected override async Task OnInitializedAsync()
    {
        // Build baseball batters list
        batters = await BaseballDataService.GetSampleBaseballData();

        // Select the initial batter, set UI state
        // Set the initial batter to Andy Average
        selectedBatter = batters.Where(a => a.FullPlayerName == "Andy Average (Fictitious Player)").FirstOrDefault();

        // set the page to loaded
        isLoaded = true;
    }

    private async Task<IEnumerable<MLBBaseballBatter>> SearchBaseballPlayers(string searchText)
    {
        return await Task.FromResult(batters.Where(x => x.FullPlayerName.ToLower().Contains(searchText.ToLower())).ToList());
    }
}
