@page "/WhatIfAnalysisSingleModel"

@using BaseballPredictionBlazor.Shared
@using BaseballPredictionBlazor.Service
@*@using Scalable.Model.Engine;*@
@using Microsoft.Extensions.ML;
@inject PredictionEnginePool<MLBBaseballBatter, MLBHOFPrediction> _predictionEnginePool;
@inject BaseballDataSampleService BaseballDataService
@*Previous Engines*@
@*@inject IBaseballHallofFamePrediction baseBallPredictionService*@
@*@inject MLModelEngine<MLBBaseballBatter, MLBHOFPrediction> _predictionEngines;*@

<h2>What-If Analysis (Single Machine Learning Model)</h2>

@if (isLoaded)
{
    <div>Select a fictitious or real MLB Batter to perform what-if analysis:</div>
    <select class="custom-select" @onchange="@BatterSelected">
        @for (var i = 0; i < batters.Count; i++)
        {
            <option value="@i">@batters[i].FullPlayerName</option>
        }
    </select>

    <p />
    <div class="card">
        <h5 class="card-header"><b>Static Predictions</b> - Based on actual career statistics</h5>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card bg-c-@cardColorInductedToHallOfFame order-card">
                            <div class="card-block">
                                <h5 class="text-right">Inducted to Hall Of Fame Probability - <span class="span-probability"><b>@String.Format("{0:P2}", predictionHallOfFameInduction.Probability)</b></span></h5>
                                <h5 class="text-right"><span><b>@selectedBatter.FullPlayerName</b></span></h5>
                                <div class="m-b-0">Seasons Played<span class="f-right">@selectedBatter.YearsPlayed</span></div>
                                <div class="m-b-0">Total Bases<span class="f-right">@selectedBatter.TB</span></div>
                                <div class="m-b-0">HR<span class="f-right">@selectedBatter.HR</span></div>
                                <div class="m-b-0">All-Star Appearances<span class="f-right">@selectedBatter.AllStarAppearances</span></div>
                                <div class="m-b-0">...<span class="f-right"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <small class="form-text text-muted"><b>Notes:</b></small>
            <small class="form-text text-muted">Single prediction of probability of the player being <b><i>Inducted to Hall Of Fame</i></b>.</small>
        </div>
    </div>
    <p></p>
    <div class="card">
        <h5 class="card-header"><b>What-If Dynamic Predictions</b> - Based on (Avg season statistics) * (Number of Seasons)</h5>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label for="seasonsInput" class="col-sm-4 col-form-label">Number of Seasons Played:</label>
                    <span class="sliderLabel">1 </span>
                    <input type="range" class="form-control-range" style="width: 50%;" min="1" max="30" step="1" value="@numberOfSeasonsPlayed"
                           @oninput="@SliderMoved" />
                    <span class="sliderLabel"> 30</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="card bg-c-@cardColorInductedToHallOfFameAdjusted order-card">
                                <div class="card-block">
                                    <h5 class="text-right">Inducted to Hall Of Fame Probability - <span class="span-probability"><b>@String.Format("{0:P2}.", predictionHallOfFameInductionAdjusted.Probability)</b></span></h5>
                                    <h5 class="text-right"><span><b>@baseBallBatterPerSeason.FullPlayerName</b></span></h5>
                                    <div class="m-b-0">Seasons Played<span class="f-right">@baseBallBatterPerSeason.YearsPlayed</span></div>
                                    <div class="m-b-0">Total Bases<span class="f-right">@baseBallBatterPerSeason.TB</span></div>
                                    <div class="m-b-0">HR<span class="f-right">@baseBallBatterPerSeason.HR</span></div>
                                    <div class="m-b-0">All-Star Appearances<span class="f-right">@baseBallBatterPerSeason.AllStarAppearances</span></div>
                                    <div class="m-b-0">...<span class="f-right"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <small class="form-text text-muted"><b>Notes:</b></small>
                <small class="form-text text-muted">What-If prediction based on above selected player's single season averages multiplied the slider value of seasons played.</small>
                <small class="form-text text-muted">Dynamic prediction of probability of the player being <b><i>Inducted to Hall Of Fame</i></b>.</small>
            </form>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    bool isLoaded = false;
    string cardColorOnBallot = string.Empty;
    string cardColorInductedToHallOfFame = string.Empty;
    string cardColorOnBallotAdjusted = "green";
    string cardColorInductedToHallOfFameAdjusted = "green";

    int numberOfSeasonsPlayed = 1;
    MLBHOFPrediction predictionHallOfFameInduction = null;
    MLBHOFPrediction predictionOnHallOfFameBallot = null;
    MLBHOFPrediction predictionHallOfFameInductionAdjusted = null;
    MLBHOFPrediction predictionOnHallOfFameBallotAdjusted = null;
    public List<MLBBaseballBatter> batters;
    MLBBaseballBatter selectedBatter;
    MLBBaseballBatter baseBallBatterPerSeason;

    protected override async Task OnInitializedAsync()
    {
        // Build baseball batters list
        batters = await BaseballDataService.GetSampleBaseballData();

        // Select the initial batter, set UI state
        selectedBatter = batters.Where(a => a.FullPlayerName == "Barry Badd").FirstOrDefault();
        numberOfSeasonsPlayed = (int)selectedBatter.YearsPlayed;

        // Make the ML predictions

        // Static prediction
        MakeStaticPrediction();

        // Adjusted prediction
        MakePredictionHallOfFameInductionAdjustedForSeasons();
        // MakePredictionOnHallOfFameBallotAdjustedForSeasons();

        // set the page to loaded
        isLoaded = true;
    }



    void MakeStaticPrediction()
    {
        // predictionHallOfFameInduction = //_predictionEnginePool.Predict(selectedBatter);
        //   baseBallPredictionService.PredictInductedToHOF(selectedBatter);
        //predictionOnHallOfFameBallot = baseBallPredictionService.PredictOnHallOfFameBallot(selectedBatter);

        // Make ML predictions
        predictionHallOfFameInduction = _predictionEnginePool.Predict("InductedToHallOfFame", selectedBatter);
        predictionOnHallOfFameBallot = _predictionEnginePool.Predict("OnHallOfFameBallot", selectedBatter);

        // Get card color
        cardColorOnBallot = getCardColor(true, predictionOnHallOfFameBallot.Probability, 0);
        cardColorInductedToHallOfFame = getCardColor(true, predictionHallOfFameInduction.Probability, 0);

    }

    void MakePredictionHallOfFameInductionAdjustedForSeasons()
    {
        // Calculate the adjusted statistics for the player
        baseBallBatterPerSeason = selectedBatter.CalculateStatisticsProratedBySeason(numberOfSeasonsPlayed);

        // Make Prediction
        predictionHallOfFameInductionAdjusted = //_predictionEnginePool.Predict(baseBallBatterPerSeason);
            _predictionEnginePool.Predict("InductedToHallOfFame", baseBallBatterPerSeason);

        // Set the card color
        cardColorInductedToHallOfFameAdjusted = getCardColor(true, predictionHallOfFameInductionAdjusted.Probability, 0);
    }

    void MakePredictionOnHallOfFameBallotAdjustedForSeasons()
    {
        // Calculate the adjusted statistics for the player
        baseBallBatterPerSeason = selectedBatter.CalculateStatisticsProratedBySeason(numberOfSeasonsPlayed);

        // Make Prediction
        predictionOnHallOfFameBallotAdjusted = // baseBallPredictionService.PredictOnHallOfFameBallot(baseBallBatterPerSeason);
            _predictionEnginePool.Predict("OnHallOfFameBallot", baseBallBatterPerSeason);

        // Set the card color
        cardColorOnBallotAdjusted = getCardColor(true, predictionOnHallOfFameBallotAdjusted.Probability, 0);
    }

    void BatterSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            selectedBatter = batters[index];
            numberOfSeasonsPlayed = (int)selectedBatter.YearsPlayed;
            MakeStaticPrediction();

            // MakePredictionOnHallOfFameBallotAdjustedForSeasons();
            MakePredictionHallOfFameInductionAdjustedForSeasons();
        }
    }

    void SliderMoved(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            numberOfSeasonsPlayed = index;

            //MakePredictionOnHallOfFameBallotAdjustedForSeasons();
            MakePredictionHallOfFameInductionAdjustedForSeasons();
        }
    }

    string getCardColor(bool useProbability, float probability, int homeRuns)
    {
        string cardColor = "red";

        if (probability >= 0.75)
        {
            cardColor = "green";
        }
        else if (probability >= 0.50)
        {
            cardColor = "lightgreen";
        }
        else if (probability >= 0.25)
        {
            cardColor = "yellow";
        }

        return cardColor;
    }
}
